*.pyc
.DS_Store

api/logs/*
!api/logs/README.md

data/bank/*


api/strategies/*
!api/strategies/default.py
!api/strategies/rsi_example.py
integrations/plotly/saved_results/*

integrations/discord_chat_bot/configs/bot.json

tools/auto_fetch/config.json
tools/auto_fetch/logs/*
