
services:
  api:
    build: .
    volumes:
      - .:/app
    command: python api/api.py
    ports:
      - "5002:5002"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  cron:
    build: .
    volumes:
      - .:/app
    command: python tools/data/cron.py
    ports:
      - "5004:5004"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

networks:
  default:
    driver: bridge 